.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }

  .cell {
    border: solid;
    text-align: center;
    font-size: 50px;
  }

  